Redirect permanent /owncloud https://{{ owncloud_domain }}


#Listen 443
<VirtualHost *:443>
        ServerName {{ owncloud_domain }}
        ServerAlias {{ owncloud_domain_alias }}
        DocumentRoot "/var/www/html/owncloud/"

        <Directory "/var/www/html/owncloud/">
                Options Indexes FollowSymLinks
                AllowOverride All
                Order allow,deny
                Allow from all
		

		 <IfModule mod_dav.c>
  			Dav off
 		</IfModule>
 
        </Directory>

        SSLEngine On

   #     SSLCertificateFile /etc/httpd/ssl/XXX.net.cert
   #     SSLCertificateChainFile /etc/httpd/ssl/startssl.pem
   #     SSLCertificateKeyFile /etc/httpd/ssl/XXX.net.key


         SSLCertificateFile {{certs_path }}/{{ name_of_cert_file }}
         SSLCertificateKeyFile {{ certs_path }}/{{ name_of_key_file }}
         SSLCertificateChainFile {{ certs_path }}/{{ name_of_pem_file }}

         
</VirtualHost>
