AVDOMAIN="{{ zimbra_domain }}"
AVUSER="admin@{{ zimbra_domain }}"
CREATEADMIN="admin@{{ zimbra_domain }}"
CREATEDOMAIN="{{ zimbra_domain }}"
DOCREATEADMIN="yes"
DOCREATEDOMAIN="yes"
DOTRAINSA="yes"
EXPANDMENU="no"
HOSTNAME="{{ zimbra_domain }}"
HTTPPORT="8080"
HTTPPROXY="TRUE"
HTTPPROXYPORT="80"
HTTPSPORT="8443"
HTTPSPROXYPORT="443"
IMAPPORT="7143"
IMAPPROXYPORT="143"
IMAPSSLPORT="7993"
IMAPSSLPROXYPORT="993"
INSTALL_WEBAPPS="service zimlet zimbra zimbraAdmin"
JAVAHOME="/opt/zimbra/java"
LDAPBESSEARCHSET="set"
LDAPHOST="{{ zimbra_domain }}"
LDAPPORT="389"
LDAPREPLICATIONTYPE="master"
LDAPSERVERID="2"
MAILBOXDMEMORY="2048"
MAILPROXY="TRUE"
MODE="https"
MYSQLMEMORYPERCENT="30"
POPPORT="7110"
POPPROXYPORT="110"
POPSSLPORT="7995"
POPSSLPROXYPORT="995"
PROXYMODE="https"
REMOVE="no"
RUNARCHIVING="no"
RUNAV="yes"
RUNCBPOLICYD="no"
RUNDKIM="yes"
RUNSA="yes"
RUNVMHA="no"
SERVICEWEBAPP="yes"
SMTPDEST="admin@{{ zimbra_domain }}"
SMTPHOST="{{ zimbra_domain }}"
SMTPNOTIFY="yes"
SMTPSOURCE="admin@{{ zimbra_domain }}"
SNMPNOTIFY="yes"
SNMPTRAPHOST="{{ zimbra_domain }}"
SPELLURL="http://{{ zimbra_domain }}:7780/aspell.php"
STARTSERVERS="yes"
SYSTEMMEMORY="8.0"
TRAINSAHAM="ham.bnjdqeeqn@{{ zimbra_domain }}"
TRAINSASPAM="spam.kvr7aictr@{{ zimbra_domain }}"
UIWEBAPPS="yes"
UPGRADE="no"
USESPELL="yes"
VERSIONUPDATECHECKS="TRUE"
VIRUSQUARANTINE="virus-quarantine.nma5gh8qi@{{ zimbra_domain }}"
ZIMBRA_REQ_SECURITY="yes"
ldap_bes_searcher_password="_9tjf1jST"
ldap_dit_base_dn_config="cn=zimbra"
ldap_nginx_password="_9tjf1jST"
mailboxd_directory="/opt/zimbra/mailboxd"
mailboxd_keystore="/opt/zimbra/mailboxd/etc/keystore"
mailboxd_keystore_password="QZkzvolZI"
mailboxd_server="jetty"
mailboxd_truststore="/opt/zimbra/java/jre/lib/security/cacerts"
mailboxd_truststore_password="changeit"
postfix_mail_owner="postfix"
postfix_setgid_group="postdrop"
ssl_default_digest="sha256"
zimbraDNSMasterIP="8.8.8.8"
zimbraDNSTCPUpstream="no"
zimbraDNSUseTCP="yes"
zimbraDNSUseUDP="yes"
zimbraFeatureBriefcasesEnabled="Enabled"
zimbraFeatureTasksEnabled="Enabled"
zimbraIPMode="ipv4"
zimbraMailProxy="FALSE"
zimbraPrefTimeZoneId="Europe/Paris"
zimbraReverseProxyLookupTarget="TRUE"
zimbraVersionCheckNotificationEmail="admin@{{ zimbra_domain }}"
zimbraVersionCheckNotificationEmailFrom="admin@{{ zimbra_domain }}"
zimbraVersionCheckSendNotifications="TRUE"
zimbraWebProxy="FALSE"
zimbra_ldap_userdn="uid=zimbra,cn=admins,cn=zimbra"
zimbra_require_interprocess_security="1"
INSTALL_PACKAGES="zimbra-core zimbra-ldap zimbra-logger zimbra-mta zimbra-dnscache zimbra-snmp zimbra-store zimbra-apache zimbra-spell zimbra-memcached zimbra-proxy "
CREATEADMINPASS="{{ zimbra_adm_password }}"
